<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='./style.css' />
</head>
  <body ng-app="myApp">
    <h1><%= title %></h1>
    <h3>Welcome to <%= title %>, <%=name %></h3>
    <div class="dad">
      <p class="child"><%=someMadeUpVariable %></p>
      <p class="child son">son</p>
      <p class="child daughter">daughter</p>
    </div>
    <script src="./vendor.js"></script>
  <script src="./app.js"></script>
  </body>
</html>

